<div id="resume">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Skills</div>
      <div class="collapsible-body">
        <ul>
          <li><strong>WEB DEVELOPMENT:</strong> Ruby, HTML, CSS, JavaScript, JQuery, Rspec, Jasmine, Git, Bootstrap, SQlite, PostgreSQL </li>
          <li><strong>SYSTEM ADMIN:</strong> Active Directory, Microsoft Exchange, Google Apps</li>
        </ul>
      </div>

    <li>  
      <div class="collapsible-header">Experience</div>
      <div class="collapsible-body">
        <ul>
          <li><strong>Codewizards</strong></li>
          <li>Instructor</li>
          <li>Instructing students from an elementary to middle school in the languages of HTML, CSS, Javascript, and Python. Providing assistance with student projects throughout the course.</li><br>
        </ul>
        <ul>
          <li><strong>Dev Bootcamp</strong></li>
          <li>Instructor</li>
          <li>Instructing students from an elementary to middle school in the languages of HTML, CSS, Javascript, and Python. Providing assistance with student projects throughout the course.</li><br>
        </ul>
        <ul>
          <li><strong>W3IT</strong></li>
          <li>System Administrator</li>
          <li>Managed networking equipment and services for multiple medical clients. Provided timely user support for hardware and software applications.</li>
        </ul>
      </div>
    </li>
    
    <li>
      <div class="collapsible-header">Projects</div>
      <div class="collapsible-body">
        <ul>
          <li><strong><a href="https://github.com/larry-cherry/Rails-API">RAILS API:</a></strong></li>
          <li>API built for my weather app that protects my API keys and tracks usage. This app is built with Ruby on Rails and sends a simple JSON response instead of the traditional web page.</li>
          <br>
        </ul>
        <ul>
          <li><strong><a href="https://larry-cherry.github.io/WeatherApp/">WEATHER APP:</a></strong></li>
          <li>Front-End App that utilizes a custom Ruby on Rails API to collect user location information to send User's local weather data. Works with and without geolocation enabled on the web browser. This app used a Ruby on Rails API backed to pull in the relevant data from DarkSky before sending it back to the front end. The backend and front-end are independent of each other.</li>
          <br>
        </ul>
        <ul>
          <li><strong><a href="https://github.com/larry-cherry/QuoteMachine">Quote Machine:</a></strong></li>
          <li> Front-end Web App that pulls random quotes from an API and allows users to share quotes on Twitter. I built this app to not need a backend and filter random quotes from an API to be Twitter compatible.</li>
          <br>
        </ul>
      </div>
    </li>
  </ul>
</div>