<div class="heading">
  <h1>Lets Chat!</h1>
  <p>Send me an email and we can discuss your next project.</p>
</div>
<form class="col s12" method="POST" action="http://formspree.io/larry.cherry.0406@gmail.com">
  <label>Your Email</label><br>
  <input id="email" type="email"><br>
  <label>Textarea</label><br>
  <textarea id="message" name="message"></textarea><br><br>
  <button class="btn waves-effect waves-light" type="submit">Submit</button>
</form>