// Place all the styles related to the email controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'palette';

.email {
  .heading {
    color: $primary-color-text;
    margin-bottom: 25px;
    * {
      text-align: center;
    }
  }
  form {
    text-align: center;
    input {
      width: 60vw;
      margin-bottom: 20px;
    }
    textarea {
      height: 40vh;
      width: 80vw;
      overflow: auto;
    }
  }
}